@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Roboto&display=swap");

.App {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  /* width: 100%; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #fee715ff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

/* TODO: merge this with something */
.card {
  display: flex;
  border: grey 1px solid;
  margin: 1em;
  max-width: 30em;
  border-radius: 2em;
}

.question,
.poll-result {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-family: "Alegreya", serif;
  font-size: 2.1em;
  background-color: #fee715ff;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.content {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

.content form {
  text-align: left;
}

.content label {
  margin-left: 0.5em;
}

.content form > div {
  display: flex;
  justify-content: flex-end;
}

input[type="submit"] {
  color: black;
  background-color: #d1d3d1;
  border-radius: 0.8em;
  border: none;
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em;
}

input[type="submit"]:hover {
  background-color: #fee715ff;
  cursor: pointer;
}

.avatar {
  display: flex;
  justify-content: center;
  align-self: center;
}

.avatar img {
  border-radius: 1em;
  margin: 1em;
  max-width: 5em;
  max-height: 5em;
  filter: grayscale(100%);
}

/* TODO: this selector can be improved */
.content > div:nth-child(3) {
  width: 100%;
}

.stats {
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  max-width: 10em;
  border-radius: 1em;
  padding: 0.3em;
  margin: 1em;
}

.stats > .details {
  font-size: 0.8em;
}

.stats-badge {
  position: relative;
  right: -1em;
  top: -1em;
  background: #fee715ff;
  border-radius: 3em;
  color: black;
  border: solid 1px gray;
  width: fit-content;
  align-self: flex-end;
  padding: 0.3em;
  margin-bottom: -1em;
}

.progressbar {
  background-color: #d1d3d1;
  border-radius: 13px;
  padding: 3px;
}

.progressbar > div {
  background-color: #fee715ff;
  height: 20px;
  border-radius: 10px;
  font-size: 0.8em;
  color: black;
}

.divider {
  margin-left: 5px;
  margin-right: 5px;
}

.answer-option {
  margin-right: 1em;
  border-radius: 1em;
  border: #d1d3d1 solid 0.3px;
}

/* TODO: this selector can be improved */
.hint {
  margin-top: 0.4em;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  text-align: left;
  margin-left: 0.5em;
}

.submit-section {
  display: flex;
  justify-content: flex-end;
}

input[type="text"] {
  margin-top: 0.5em;
  font-size: 1.3em;
  width: 90%;
}

.score-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
  width: 20%;
  border: 1px solid #d1d3d1;
  border-radius: 1em;
}

.score-card > .score-title {
  font-family: "Alegreya", serif;
  font-size: 1.3em;
  background-color: #fee715ff;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.circle-base {
  color: white;
  margin: 0.3em;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  background: #d1d3d1;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.user-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 0.5em;
}

.user-name {
  font-family: "Alegreya", serif;
  font-size: 1.4em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.leader-badge {
  position: relative;
  right: -1em;
  top: -1em;
  background: #fee715ff;
  border-radius: 3em;
  color: black;
  border: solid 1px gray;
  width: fit-content;
  /* align-self: flex-end; */
  padding: 0.3em;
  /* margin-bottom: -1em; */
}

.note {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.note:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 3em solid transparent;
  border-bottom: 3em solid transparent;
  border-top: 3em solid #fee715ff;
  z-index: 0;
}

.note p {
  position: absolute;
  left: 5px;
  top: 5px;
  color: white;
  z-index: 1;
  margin: 0;
  padding: 0;
}

select[name="users"] {
  font-size: 1.4em;
  border: 0.5px solid gray;
  color: gray;
}

.logo {
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.login-panel {
  width: 80%;
  border: solid 1px gray;
  margin: 1em;
  border-radius: 1em;
  text-align: center;
}

.login-panel > h3,
h4 {
  font-family: "Alegreya", serif;
}

.login-panel > form {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

.view-poll-button {
  background-color: white;
  border: solid 0.5px gray;
  font-size: 1em;
  border-radius: 0.5em;
}

.view-poll-button:hover {
  background-color: gray;
  cursor: pointer;
}

.preview-section {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.question-list {
  display: flex;
  flex-direction: column;
  border: solid 0.5px grey;
  margin: 1em;
  border-radius: 1em;
  max-width: 100%;
}

.section-title {
  font-family: "Alegreya", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  font-size: 1.5em;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-bottom: solid 0.5px grey;
}

.section-title > div {
  width: 100%;
  text-align: center;
}

.left-title {
  border-top-left-radius: 0.5em;
  background-color: #d1d3d1;
}

.left-title:hover,
.right-title:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.right-title {
  border-top-right-radius: 0.5em;
  background-color: #d1d3d1;
}

.active {
  background-color: #fee715ff;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-family: "Alegreya", serif;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 0;
  border-bottom: solid 0.5px gray;
}

nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
}

nav > ul > li {
  text-align: center;
  width: 100%;
  display: inline-block;
  color: grey;
}

nav > ul > li:hover {
  cursor: pointer;
  background-color: #fee715ff;
  border-radius: 1em;
}

nav > div {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

/* TODO: this can be improved */
nav > div > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav button {
  font-family: "Alegreya", serif;
  font-size: 1em;
  border-radius: 4em;
  border: solid 0.5px #fee715ff;
  margin: 0.4em;
  background-color: #fee715ff;
}

nav button:hover {
  filter: brightness(80%);
  cursor: pointer;
}

nav .nav-active {
  color: black;
}
